/* fuentes */
@font-face {
    font-family: "fajala";
    src: url("fuentes/fuente.ttf")format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* estilos generales */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
}
.clearFix{
    clear: both;
    float: none;
}
body{
    font-family: "fajala";
    background-color: #acdcde;

}
/*ESTILOS CABECERA*/
#cabecera{
    width: 85%;
    height: auto;
    background: transparent;
    margin: 0 auto;
}
#logo{
    float: left;
    width: 540px;
    height: 130px;
    margin-top: 20px;
    margin-bottom: 20px;

}
#imglogo{
    width: 120px;
    border-radius: 60px;
}
/*MENU*/
#menu{
    width: 100%;
    height: 40px;
    clear: both;
    background: linear-gradient(to top, #66b5b2 0px, #acdcde 60%);
    border: 1px solid #66b5b2;
    border-radius: 8px;
    overflow: hidden;
}
#menu ul{
    list-style: none;
}
#menu ul li{
    float: left;
    line-height: 39px;
    border-right: 1px solid #498c89;
}
#menu ul li:hover{
    background: linear-gradient(to top, #66b5b2 0px, #acdcde 100%);
}
#menu ul li a{
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    color: #336764;
}
/**/
#borde{

}

span.green {
    background: green;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 15px;
    text-align: center;
    width: 1.6em;
}