/* fuentes */
@font-face {
    font-family: "fajala";
    src: url("fuentes/fuente.ttf")format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* estilos generales */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
}
.clearFix{
    clear: both;
    float: none;
}
body{
    font-family: "fajala";
    background-color: #acdcde;

}
/*ESTILOS CABECERA*/
#cabecera{
    width: 85%;
    height: auto;
    background: transparent;
    margin: 0 auto;
}
#logo{
    float: left;
    width: 540px;
    height: 130px;
    margin-top: 20px;
    margin-bottom: 20px;

}
#imglogo{
    width: 120px;
    border-radius: 60px;
}
/*MENU*/
#menu{
    width: 100%;
    height: 40px;
    clear: both;
    background: linear-gradient(to top, #66b5b2 0px, #acdcde 60%);
    border: 1px solid #66b5b2;
    border-radius: 8px;
    overflow: hidden;
}
#menu ul{
    list-style: none;
}
#menu ul li{
    float: left;
    line-height: 39px;
    border-right: 1px solid #498c89;
}
#menu ul li:hover{
    background: linear-gradient(to top, #66b5b2 0px, #acdcde 100%);
}
#menu ul li a{
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    color: #336764;
}
/* CONTENIDO*/
#cajaPrincipal{
    width: 70%;
    min-height: 900px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 150px;
    background: #B3E3E5;
    border-radius: 8px;
    overflow: hidden;
    padding: 20px;
}
#cajaPrincipal h1{
    font-size: 24px;
    color: #000000;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px #ccc;
    font-family: fajala;
}
/*BARRA LATERAL*/
#barraLateral{
    float: right;
    width: 200px;
    height: auto;
    margin-right: 135px;

}
.bloque{
    display: block;
    width: 90%;
    margin: 20px auto;
    background: #9fced0;
    padding: 10px;
}
/*FORMULARIOS*/
label,
input[type=text],
input[type=email],
input[type=password]{
    display: block;
    width: 95%;
    margin-top: 4px;
    margin-bottom: 1px;
}
input[type=text],
input[type=email],
input[type=password]{
    padding: 5px;
}
input[type=button]{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 65px;
    height: 30px;
    cursor: pointer;
    font-size: medium;
}
input[type=submit]{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 75px;
    height: 30px;
    cursor: pointer;
    font-size: medium;
}
/*ALERTAS*/

#error-login{
    color: red;
}
#borde{

}

span.green {
    background: green;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 15px;
    text-align: center;
    width: 1.6em;
}