body{
    background-color: cadetblue;
}
#borde{

}
#logo{
    border: 1px solid #000000;
}
#imglogo{
    width: 199px;
    border-radius: 60px;
}
span.green {
    background: green;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 15px;
    text-align: center;
    width: 1.6em;
}